<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume Refiner</title>
    <!-- Include Tailwind CSS from CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-slate-50">
<div class="mx-auto max-w-screen-xl px-4 py-24 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-5xl"> <!-- Further increased max-width of the container -->
        <h1 class="text-center text-2xl font-bold text-indigo-600 sm:text-3xl">Resume-Job Matcher</h1>

        <p class="mx-auto mt-4 max-w-xl text-center text-gray-500"> <!-- Increased max-width of the paragraph -->
            Tailor your resume to the job you're applying for by highlighting skills and experiences that are most
            relevant to the position.
        </p>
        <form action="/refine" method="post"
              class="bg-white mb-0 mt-6 space-y-6 rounded-lg p-6 shadow-lg sm:p-8 lg:p-10">
            <!-- Increased padding and spacing -->
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6"> <!-- Increased grid gap -->
                <!-- Resume Textarea -->
                <div>
                    <label for="resume_text" class="sr-only">Resume</label>
                    <textarea id="resume" name="resume_text" rows="20"
                              class="w-full rounded-lg border-gray-200 border p-4 text-sm shadow-sm"
                              placeholder="Paste your resume here"></textarea>
                </div>
                <!-- Job Description Textarea -->
                <div>
                    <label for="job_description_text" class="sr-only">Job Description</label>
                    <textarea id="job_description" name="job_description_text" rows="20"
                              class="w-full rounded-lg border-gray-200 border p-4 text-sm shadow-sm"
                              placeholder="Paste job description here"></textarea>
                </div>
            </div>

            <button type="submit"
                    class="block w-full rounded-lg bg-indigo-600 px-5 py-3 text-sm font-medium text-white">
                Refine resume
            </button>
        </form>
    </div>
</div>
</body>
</html>
