<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume Refiner</title>
    <!-- Include Tailwind CSS from CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
          integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <!-- Other head content -->
    <style>
        textarea:not(:placeholder-shown) + label,
        textarea:focus + label {
            transform: translateY(-120%);
            top: 0;
            color: #3b82f6;
        }
    </style>
</head>
<body class="bg-slate-50 lg:h-screen">
<div id="spinner" class="hidden fixed inset-0 z-50 flex items-center justify-center bg-white bg-opacity-75">
    <div class="fas fa-circle-notch fa-spin fa-5x text-indigo-600"></div>
</div>
<main class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
    <section class="mx-auto max-w-5xl">
        <h1 class="text-center text-2xl font-bold text-indigo-600 sm:text-3xl">Resume-Job Matcher</h1>
        <p class="mx-auto mt-4 max-w-xl text-center text-gray-500"> <!-- Increased max-width of the paragraph -->
            Tailor your resume to the job you're applying for by highlighting skills and experiences that are most
            relevant to the position.
        </p>
        <div id="container" class="bg-white mb-0 mt-6 rounded-lg p-6 shadow-lg sm:p-8 lg:p-10">
            <form id="form" action="/refine" method="post" enctype="multipart/form-data" class="">
                <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                    <div>
                        <!-- Resume Textarea -->
                        <div class="relative pt-2">
                        <textarea id="resume" name="resume_text" rows="20"
                                  class="w-full rounded-lg border-gray-200 border p-4 text-sm shadow-sm"
                                  placeholder=""></textarea>
                            <label for="resume_text"
                                   class="text-sm text-gray-400 absolute left-4 top-6 transition-all pointer-events-none">Paste
                                your resume here</label>
                        </div>
                        <!-- Drag and Drop File Upload for Resume -->
                        <div id="drop_area_resume"
                             class="flex flex-col items-center justify-center p-4 border-2 border-gray-300 border-dashed rounded-lg my-4 hover:border-gray-400"
                             ondragover="event.preventDefault()"
                             ondrop="handleDropResume(event)">
                            <p class="text-sm font-medium text-gray-700">Drop or click to upload your resume (.txt, .docx, .pdf)</p>
                            <input id="resume_file" name="resume_file" type="file" class="hidden"
                                   onchange="fileInputChangedResume(event)"/>
                        </div>
                    </div>
                    <div>
                        <!-- Job Description Textarea -->
                        <div class="relative pt-2">
                        <textarea id="job_description" name="job_description_text" rows="20"
                                  class="w-full rounded-lg border-gray-200 border p-4 text-sm shadow-sm"
                                  placeholder=""></textarea>
                            <label for="job_description_text"
                                   class="text-sm text-gray-400 absolute left-4 top-6 transition-all pointer-events-none">Paste
                                job description here</label>
                        </div>
                        <!-- Drag and Drop File Upload for Job Description -->
                        <div id="drop_area_job_description"
                             class="flex flex-col items-center justify-center p-4 border-2 border-gray-300 border-dashed rounded-lg my-4 hover:border-gray-400"
                             ondragover="event.preventDefault()"
                             ondrop="handleDropJobDescription(event)">
                            <p class="text-sm font-medium text-gray-700">Drop or click to upload the job description (.txt, .docx, .pdf)</p>
                            <input id="job_description_file" name="job_description_file" type="file" class="hidden"
                                   onchange="fileInputChangedJobDescription(event)"/>
                        </div>
                    </div>
                </div>

                <button type="submit"
                        class="block w-full rounded-lg bg-indigo-600 px-5 py-3 text-sm font-medium text-white">
                    Refine resume
                </button>
            </form>
            <div id="result_container" class="hidden mt-0 pt-0">
                <p class="font-semibold text-lg">Consider the following improvements to your resume:</p>
                <ul id="suggestions">
                </ul>
                <a href="/"
                   class="text-center block w-full rounded-lg bg-indigo-600 px-5 py-3 text-sm font-medium text-white">
                    Refine Another Resume
                </a>
            </div>
        </div>
        <div id="alert_bar" class="hidden mt-4 bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative"
             role="alert">
            <strong class="font-bold">Attention!</strong>
            <span id="error_message" class="block sm:inline"></span>
            <button id="alert_bar button" class="absolute top-0 bottom-0 right-0 px-4 py-3"><i class="fas fa-times"></i>
            </button>
        </div>
    </section>
</main>
<script>
    const form = document.querySelector('form');
    const dropAreaResume = document.getElementById('drop_area_resume');
    const fileInputResume = document.getElementById('resume_file');
    const dropAreaJobDescription = document.getElementById('drop_area_job_description');
    const fileInputJobDescription = document.getElementById('job_description_file');
    const resumeTextArea = document.getElementById('resume');
    const jobDescriptionTextArea = document.getElementById('job_description');
    const errorMessage = document.getElementById('error_message');
    const alertBar = document.getElementById('alert_bar');
    const closeButton = document.getElementById('alert_bar button');

    document.addEventListener('DOMContentLoaded', function () {
        closeButton.addEventListener('click', function () {
            alertBar.classList.add('hidden');
        });
    });

    dropAreaResume.addEventListener('click', () => fileInputResume.click());
    dropAreaJobDescription.addEventListener('click', () => fileInputJobDescription.click());

    form.addEventListener('submit', function (event) {
        event.preventDefault();
        sendForm();
    });

    function handleDropResume(event) {
        event.preventDefault();
        if (event.dataTransfer.files.length) {
            fileInputResume.files = event.dataTransfer.files;
            updateLabelResume();
        }
    }

    function handleDropJobDescription(event) {
        event.preventDefault();
        if (event.dataTransfer.files.length) {
            fileInputJobDescription.files = event.dataTransfer.files;
            updateLabelJobDescription();
        }
    }

    function fileInputChangedResume() {
        if (fileInputResume.files.length) {
            updateLabelResume();
        }
    }

    function fileInputChangedJobDescription() {
        if (fileInputJobDescription.files.length) {
            updateLabelJobDescription();
        }
    }

    function updateLabelResume() {
        dropAreaResume.innerHTML = `<p class="text-sm font-medium text-gray-700">Resume File: ${fileInputResume.files[0].name}</p>`;
    }

    function updateLabelJobDescription() {
        dropAreaJobDescription.innerHTML = `<p class="text-sm font-medium text-gray-700">Job Description File: ${fileInputJobDescription.files[0].name}</p>`;
    }

    function sendForm() {
        hideError();
        const spinner = document.getElementById('spinner');

        // Show loading state
        spinner.classList.remove('hidden');

        const formData = new FormData();
        formData.append('resume_text', resumeTextArea.value);
        formData.append('job_description_text', jobDescriptionTextArea.value);
        if (fileInputResume.files.length > 0) {
            formData.append('resume_file', fileInputResume.files[0]);
        }
        if (fileInputJobDescription.files.length > 0) {
            formData.append('job_description_file', fileInputJobDescription.files[0]);
        }

        fetch('/refine', {
            method: 'POST',
            body: formData,
        })
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    showError(data.error);
                } else {
                    updateSuggestions(data.refined);
                }
            })
            .catch((error) => {
                console.error('Error:', error);
            })
            .finally(() => {
                // Hide loading state
                spinner.classList.add('hidden');
            });
    }

    function showError(message) {
        errorMessage.innerText = message;
        alertBar.classList.remove('hidden');
    }

    function hideError() {
        errorMessage.innerText = "";
        alertBar.classList.add('hidden');
    }

    function updateSuggestions(refined) {
        const suggestionsList = document.getElementById('suggestions');
        suggestionsList.innerHTML = ''; // Clear previous suggestions
        refined.forEach(point => {
            const listItem = document.createElement('li');
            listItem.innerHTML = point;
            listItem.className = 'pb-4';
            suggestionsList.appendChild(listItem);
        });

        // Show the result container if it's initially hidden
        document.getElementById('result_container').classList.remove('hidden');
        document.getElementById('form').classList.add('hidden');
    }
</script>
</body>
</html>
