<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume Refiner</title>
    <!-- Include Tailwind CSS from CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-slate-50">
<div class="mx-auto max-w-screen-xl px-4 py-24 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-5xl"> <!-- Further increased max-width of the container -->
        <h1 class="text-center text-2xl font-bold text-indigo-600 sm:text-3xl">Resume-Job Matcher</h1>

        <p class="mx-auto mt-4 max-w-xl text-center text-gray-500"> <!-- Increased max-width of the paragraph -->
            Tailor your resume to the job you're applying for by highlighting skills and experiences that are most
            relevant to the position.
        </p>
        <div id="container" class="bg-white mb-0 mt-6 space-y-6 rounded-lg p-6 shadow-lg sm:p-8 lg:p-10">
        <form id="form" action="/refine" method="post" enctype="multipart/form-data" style="display:block;">
            <!-- Increased padding and spacing -->
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6"> <!-- Increased grid gap -->
                <!-- Resume Textarea -->
                <div>
                    <label for="resume_text" class="sr-only">Resume</label>
                    <textarea id="resume" name="resume_text" rows="20"
                              class="w-full rounded-lg border-gray-200 border p-4 text-sm shadow-sm"
                              placeholder="Paste your resume here"></textarea>
                    <!-- Drag and Drop File Upload for Resume -->
                    <div id="drop_area"
                         class="flex flex-col items-center justify-center p-4 border-2 border-gray-300 border-dashed rounded-lg my-4 hover:border-gray-400"
                         ondragover="event.preventDefault()"
                         ondrop="handleDrop(event)">
                        <p class="text-sm font-medium text-gray-700">Drag and drop your resume here or click to upload</p>
                        <input id="resume_file" name="resume_file" type="file" class="hidden"
                               onchange="fileInputChanged(event)"/>
                    </div>
                </div>
                <!-- Job Description Textarea -->
                <div>
                    <label for="job_description_text" class="sr-only">Job Description</label>
                    <textarea id="job_description" name="job_description_text" rows="20"
                              class="w-full rounded-lg border-gray-200 border p-4 text-sm shadow-sm"
                              placeholder="Paste job description here"></textarea>
                </div>
            </div>

            <button type="submit"
                    class="block w-full rounded-lg bg-indigo-600 px-5 py-3 text-sm font-medium text-white">
                Refine resume
            </button>
        </form>
        <div id="result_container" style="display:none;">
            <p>To better match the qualifications outlined in the job description, consider the following improvements
                to your resume:</p>
            <ul id="suggestions">
            </ul>
            <a href="/"
               class="text-center block w-full rounded-lg bg-indigo-600 px-5 py-3 text-sm font-medium text-white">
                Refine Another Resume
            </a>
        </div>
        </div>
    </div>
</div>
<script>
    const form = document.querySelector('form');
    const dropArea = document.getElementById('drop_area');
    const fileInput = document.getElementById('resume_file');
    const resumeTextArea = document.getElementById('resume');
    const jobDescriptionTextArea = document.getElementById('job_description');

    dropArea.addEventListener('click', () => fileInput.click());

    form.addEventListener('submit', function (event) {
        event.preventDefault();
        sendForm();
    });

    function handleDrop(event) {
        event.preventDefault();
        if (event.dataTransfer.files.length) {
            fileInput.files = event.dataTransfer.files;
            updateLabel();
        }
    }

    function fileInputChanged() {
        if (fileInput.files.length) {
            updateLabel();
        }
    }

    function updateLabel() {
        dropArea.innerHTML = `<p class="text-sm font-medium text-gray-700">File: ${fileInput.files[0].name}</p>`;
    }

    function sendForm() {
        const formData = new FormData();
        formData.append('resume_text', resumeTextArea.value);
        formData.append('job_description_text', jobDescriptionTextArea.value);
        if (fileInput.files.length > 0) {
            formData.append('resume_file', fileInput.files[0]);
        }

        fetch('/refine', {
            method: 'POST',
            body: formData,
        })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
                updateSuggestions(data.refined);
            })
            .catch((error) => {
                console.error('Error:', error);
            });
    }

    function updateSuggestions(refined) {
        const suggestionsList = document.getElementById('suggestions');
        suggestionsList.innerHTML = ''; // Clear previous suggestions
        refined.forEach(point => {
            const listItem = document.createElement('li');
            listItem.innerHTML = point;
            listItem.className = 'pb-2';
            suggestionsList.appendChild(listItem);
        });

        // Show the result container if it's initially hidden
        document.getElementById('result_container').style.display = 'block';
        document.getElementById('form').style.display = 'none';
    }
</script>
</body>
</html>
